@inherits VerticalTabControlBase

<div class="row custom-row">
    <div class="col-md-3 custom">
        <ul class="nav nav-pills flex-column">
            @foreach (var tabPage in Pages)
            {
                <li class="nav-item">
                    <a class="tab-nav-link @GetActiveClass(tabPage)" onclick="@(() => ActivatePage(tabPage))"
                       aria-current="page">@tabPage?.Text </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9 pt-1">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
